/* Styl paska nawigacji */
.navbar {
    background-color: black; /* Kolor tła paska */
}

    .navbar a.navbar-brand {
        color: #fff; /* Kolor tekstu dla marki */
        font-weight: bold;
    }

    .navbar a.nav-link {
        color: #fff; /* Kolor tekstu dla linków nawigacji */
    }

        /* Styl dla aktywnego linku */
        .navbar a.nav-link.active {
            color: #f00; /* Kolor tekstu dla aktywnego linku */
        }
